body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #080808, #07071d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 70%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  text-align: center;
  backdrop-filter: blur(30px);
  color: white;
  padding: 0 20px;
}

.left-hero { grid-area: 1 / 1 / 2 / 2;  display: flex; flex-direction: column; justify-content: center; align-items: center; }
.right-hero { grid-area: 1 / 2 / 2 / 3;  display: flex; flex-direction: column; justify-content: center; align-items: center;  }

.hero h1 {
  font-size: 2.9rem;
  margin-bottom: 50px;
}

.hero .right-hero img {
  width: 100%;
  height: auto;
  backdrop-filter: blur(10px);
 
}

.hero p {
  font-size: 1.2rem;
  opacity: 0.85;
}

.btn {
  background: #fdda39;
  color: #111;
  padding: 12px 38px;
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  margin-top:2.5rem ;
  margin-right: 1.5rem;
}

.btn:last-child {
  background: #F86680;
}

.btn:hover {
  background: #ddd;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .left-hero, .right-hero {
    grid-area: auto;
  }
  .hero .right-hero  {
    display: none;
  }
}
